<ion-card>
  <ion-card-header>
    Header
  </ion-card-header>
  <ion-card-content>
    <div #editor contenteditable="true" class="maineditor" tappable [attr.data-placeholder-text]="getPlaceholderText()">
    </div>
    
    <!-- https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand -->
    <div #decorate class="decorator">
      <button ion-button outline data-command="bold"><strong>B</strong></button>
      <button ion-button outline data-command="italic"><i>I</i></button>
      <button ion-button outline data-command="underline"><u>U</u></button>
      <button ion-button outline data-command="strikethrough"><s>S</s></button>
    </div>
  </ion-card-content>
</ion-card>